/* 
  --------------------
      Fonts
  --------------------
  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
            --------------------
              Veriable
            --------------------
        */

:root {
  /* Primery Color */
  --primery-clr: #01a1a1;

  /* Font */
  --ff: "Poppins", sans-serif;
  --f-clr: #002f2f;

  /* Background Color */
  --bg-clr: #ffffff;
  --bg2-clr: #fafaff;
  --bg3-clr: #cbecf0;
  --bg4-clr: #d2faff;

  --grey-shade-1: #2e4747;
  --black-clr: #222;
  --max-width: 1170px;
  --fixed-width-sqr: 800px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;
  --radius: 1rem;
  --radius-2: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* 
            --------------------
              Global Style  
            --------------------
        
        */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* border: 0.5px solid #80808080; */
}

::selection {
  background-color: var(--primery-clr);
}

body {
  overflow: auto;
  padding: 0 0 5rem;
  font-family: var(--ff);
  background: var(--bg2-clr);
  /* height: 100vh; */
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  height: 5px;
  width: 0.7rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--bg4-clr);
  margin: auto 15px;
  border-radius: 2px;
  padding: 5px;
}

body::-webkit-scrollbar-thumb {
  /* background-color: transparent; */
  background-color: var(--primery-clr);
  border-radius: 4px;
  box-sizing: unset;
  border: 2px solid var(--bg2-clr);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  text-align: center;
  display: flex;
  background: linear-gradient(
    0deg,
    var(--bg2-clr) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

footer a {
  margin: auto auto 0 auto;
  align-self: baseline;
  padding: 10px 10px 0 10px;
  font-size: 0.75rem;
}

a {
  text-decoration: underline;
  color: var(--primery-clr);
  font-weight: 800;
}

strong {
  text-transform: uppercase;
  color: var(--primery-clr);
}

.update {
  padding: 1rem;
  text-align: center;
}

/* 
      --------------------
        Main Style  
      --------------------
*/

.preloader{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-clr);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader img{
    max-width: var(--fixed-width);
    width: 205vw;
}

body {

   background: #0DC892;
  /* background: #0dc892; */
  color: var(--bg2-clr);
}

section.main {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #0dc892;
}

section.main video {
  max-width: 95vw;
  width: var(--fixed-width);
}

section.main .btn {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(-100%);
}
.main .btn svg {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
.main .btn #play {
  left: -50%;
}
.main .btn #pause {
  left: 150%;
}
.main .btn #play.active {
  left: 50%;
}
.main .btn #pause.active {
  left: 50%;
}

footer {
  background: linear-gradient(0deg, #00b494 0%, #00B49400 100%);
}

a {
  color: var(--bg-clr);
}

@media screen and (max-width: 700px) {
  section.main {
    margin-top: 10vh;
  }
  section.main .btn {
    transform: translateY(-50%);
  }
}

